<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d5ad16c434.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index_styles.css">
</head>
<body>

    <body>
        <div class="container-title">
            <h2>關鍵字</h2>
        </div>
        <nav class="categories-nav">
            <a href="/rice">飯</a>
            <a href="/noodle">麵</a>
            <a href="/chicken">雞肉</a>
            <a href="/beef">牛肉</a>
            <a href="/pork">豬肉</a>
            <a href="/egg">蛋</a>
            <a href="/soup">湯</a>
            <a href="/sweet">甜點</a>
            <a href="/surprise_me">驚喜！</a>
        </nav>
    </body>
    
    <footer>

    </footer>
</body>
</html>